<h1>Add Stock</h1>

<form>
  <div class="form-group">
    <label for="stockName">Stock Name</label>
    <input name="stockName" id="stockName" class="form-control" />
    <small id="stockNameErr" class="text-danger"> <!--display validation err--> </small>
  </div>

  <div class="form-group">
    <label for="price">Price</label>
    <input name="price" id="price" class="form-control" />
    <small id="stockPriceErr" class="text-danger"> <!--display validation err--> </small>

  </div>

  <div class="form-group">
    <label for="quantity">Quantity</label>
    <input name="quantity" id="quantity" class="form-control" />
    <small id="stockQuantityErr" class="text-danger"> <!--display validation err--> </small>

  </div>

  <button class="btn btn-primary">Add Stock</button>
</form>


<!--
  display stock added if added

  <div  id="added">

  </div>  
-->