<h1>Stock Management</h1>

<div class="card" style="margin-bottom: 50px">
  <h5 class="card-header">Stock Service</h5>
  <div class="card-body">
    <p class="card-text">
      Uncommment methods in Stock Service and complete them
    </p>
  </div>
</div>

<div class="card" style="margin-bottom: 50px">
  <h5 class="card-header">Add Stock</h5>
  <div class="card-body">
    <p class="card-text">Use Reactive Forms ,Create validations for below,</p>
    <ul>
      <li>stock price should be positive</li>
      <li>quantity should be positive and max 100 can be added at a time</li>
      <li>name should not be empty or null and max 10 letters</li>
    </ul>
  </div>
</div>

<div class="card" style="margin-bottom: 50px">
  <h5 class="card-header">Display Stock</h5>
  <div class="card-body">
    <p class="card-text">
      Display Stock, Displays stock details based on stock id in route
    </p>
  </div>
</div>

<div class="card">
  <h5 class="card-header">List Stocks</h5>
  <div class="card-body">
    <p class="card-text">
      Lists all stocks , only render stock id and stock name, along with link to
      see complete details of stock, route to display stock
    </p>
  </div>
</div>
